<div class="about " id="about" data-parallax="back" data-type="background">
  <div data-parallax="wrapper">
    <div class="col col-lg-12 col-md-12 col-sm-12">
      <h3><%= I18n.t(:header, scope: [:client, :about]) %></h3>
      <div class="bio">
        <h4><%= I18n.t(:subheading, scope: [:client, :about]) %></h4>
        <p>Mostly Kosher, the acclaimed Post-Klezmer Indie band, radically reconstructs Judaic and American cultural musical roots through ravenous klezmer beats and arresting Yiddish refrains. Mostly Kosher is a musical feast that explodes into a global food-fight of Jazz, Latin, Rock, Hip Hop, and Folk. Led by Leeav Sofer, one of Jewish Journal’s "30 under 30" most accomplished professionals in the Los Angeles' Jewish diaspora, Mostly Kosher is comprised of some of the highest regarded Los Angeles musicians: violinist Janice Mautner Markham, drummer Eric Hagstrom, bassist Adam Levy, accordion/trumpet Mike Bolger, trombonist Mike King, and on guitar, Will Brahm.</p>
        <p>Mostly Kosher is a fixture at renowned Los Angeles stages such as the John Anson Ford Amphitheatre and Skirball Cultural Center, while also having graced the stage of the Dorothy Chandler Pavilion for a live television broadcast to over half a million viewers.  Most recently, Mostly Kosher had the honor of being the first Jewish music ensemble at the Disney parks and performed a 2 month residency at Disney California Adventure, featured in the Festival of Holidays. Mostly Kosher was credited for “stealing the Festival of Holidays Show” by the acclaimed Fresh Baked Disney podcast.</p>
        <p>Their self-titled debut album has won international acclaim through recognition by World Music Network, Songlines Magazine, and BBC radio. Mostly Kosher’s first track, Ikh Hob Dikh Tsufil Lib (I Love You Much Too Much), was recognized as one of World Music Network’s Top 6 Songs of 2014. Mostly Kosher’s music videos have been garnering accolades on the film festival circuit, receiving two nominations at the Idyllwild International Festival of Cinema and Best Music Video at the Glendale International Film Festival. Mostly Kosher is currently developing their second album for release at the end of 2017.</p>
      </div>
    </div>
  </div>
</div>
