<nav class="navbar navbar-default navbar-fixed-top col col-lg-12 col-md-12 col-xs-12">
  <div class="navbar-header mobile-navbar visible-xs-block">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="mobile-menu">
    <%= render partial: 'client/navbar/links' %>
  </div>
</nav>
