<div class="row shows" id="shows" data-parallax="base">
  <div class="header">
    <%= render partial: 'client/landing/separator', locals: { color: '#336633', text: I18n.t(:header, scope: [:client, :shows]) } %>
  </div>
  <div class="schedule col col-lg-12 col-md-12 col-sm-12">
    <div class="gig-info">

      <div class="col-sm-6 hidden-xs">
      </div>
      <div class="upcoming col-sm-6 hidden-xs">
        <h3>
          <%= I18n.t(:upcoming, scope: [:client, :shows]) %>
        </h3>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div id="map_canvas" data-location="<%= @next_event.present? ? @next_event.location : '1313 Disneyland Dr, Anaheim, CA 92802' %>"></div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <%= render partial: 'client/landing/upcoming_event', locals: { event: @next_event } %>
      </div>

      <div class="col-xs-12">
        <p class="booking"><a href="/shows">Click Here</a> to see a full list of upcoming and past shows!</p>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
