@import 'bootstrap/_variables';
@import 'shared/material-design';
$navbar-sm-size: 40px;
$navbar-md-size: 60px;
.navbar {
  min-height: $navbar-sm-size;
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    min-height: $navbar-md-size;
  }
  color: white;
  background: black;
  a {
    outline: none;
    color: white;
    text-decoration: none;
    &:focus, &:hover {
      color: black;
    }
    font-size: $subheading;
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) {
      font-size: $headline;
    }
  }
  button.navbar-toggle {
    border-width: 0;
    font-size: $subheading;
    margin-right: 0;
    &:hover, &:active, &:focus {
      color: #2E2F30;
    }
  }
  .navbar-collapse {
    max-height: 360px;
  }
}
.container-fluid {
  margin-top: $navbar-sm-size;
}

