<div id="album" class="row" data-parallax="back" data-type="background">
  <div data-parallax="wrapper">
    <div class="debut">
      <div class="text col-md-6 col-sm-6">
        <div class="buy">
          <h1>Mostly Kosher's Debut Album</h1>
          <p class="hidden-xs">
            Looking for a gift for next Hanukkah<br/>Order your Mostly Kosher CD now!<br/><br/>
            Want a hard copy with full translations and program notes? Order from our website or
            Want a digital download? We're on <a target="_blank" class="itunes" href="https://itunes.apple.com/us/album/mostly-kosher/id937980288">iTunes!</a>
          </p>
          <p class="hidden-xs">Want both cuz you love us? CDBaby's got it!</p>
          <a class="btn hidden-xs" target="_blank" href="http://www.cdbaby.com/cd/mostlykosher">Buy it here!</a>
        </div>
      </div>
      <div class="album col-md-6 col-sm-6">
        <div class="cover">
          <img src="<%= image_path 'album-cover.png' %>">
        </div>
        <a class="btn hidden-lg hidden-md hidden-sm" target="_blank" href="http://www.cdbaby.com/cd/mostlykosher">Buy it here!</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
