<div class="row">
   <div class="album">
      <div class="background">
         <img src="<%= image_path 'band-image-album-section.png' %>">
      </div>
      <div class="content">
         <div class="text">
            <h1>Mostly Kosher's New Album</h1>
            <span>A description text here random shit I dont wanna go to a lorem ipsum site and I need to set the word wrap on this shit anway, there i think this will be long enough</span><br/>
            <span class="quote">"The best klezmer music in the world"</span>
         </div>
         <div class="cover">
            <img src="<%= image_path 'album-cover.png' %>">
         </div>
         <div class="buy">
            <a href="http://www.cdbaby.com/cd/mostlykosher">Buy it here!</a>
         </div>
      </div>
   </div>
</div>
