<div id="album" data-parallax="back" data-type="background">
   <div data-parallax="wrapper">
   <div class="album">
      <div class="container">
         <div class="buy text">
            <h1>Mostly Kosher's New Album</h1>
            <span>
            With Hanukkah around the corner<br/>order your Mostly Kosher CD now!<br/><br/>
            Want a hard copy with full translations and program notes? Order from our website or
            Want a digital download? We're on <a target="_blank" class="itunes" href="https://itunes.apple.com/us/album/mostly-kosher/id937980288">iTunes!</a></span><br/>
            <span class="quote">Want both cuz you love us? CDBaby's got it!</span>
            <a class="btn" target="_blank" href="http://www.cdbaby.com/cd/mostlykosher">Buy it here!</a>
         </div>
         <div class="cover">
            <img src="<%= image_path 'album-cover.png' %>">
         </div>
      </div>
   </div>
   </div>
</div>
