<div class="row" id="contact">
  <footer>
    <div class="top-footer col col-lg-12 col-md-12 col-sm-12">
      <p>Contact Us</p>
      <p>Call: <a href="tel:714-606-4818">714-606-4818</a></p>
      <p>Email: info@mostlykosher.com</p>
      <p>Press: valerie@mostlykosher.com</p>
    </div>
    <div class="bottom col col-lg-12 col-md-12 col-sm-12">
      <p>Copyright <i class="fa fa-copyright"></i> MOSTLY KOSHER</p>
    </div>
  </footer>
</div>
