<div class="row" id="contact">
  <footer>
     <div class="top-footer">
        <p>For booking and more information, contact Leeav Sofer at 716-606-4818 or email @ info@mostlykosher.com</p>
     </div>
     <div class="bottom">
        <p>Copyright <i class="fa fa-copyright"></i> MOSTLY KOSHER <%= DateTime.now.strftime("%Y") %><p>
     </div>
  </footer>
</div>
