<div class="row" id="contact">
  <footer>
     <div class="top-footer">
        <p>Contact Us</p>
        <p>Call: <a href="tel:714-606-4818">714-606-4818</a></p>
        <p>Email: info@mostlykosher.com</p>
        <p>Press: admin@mostlykosher.com</p>
     </div>
     <div class="bottom">
        <p>Copyright <i class="fa fa-copyright"></i> MOSTLY KOSHER <%= DateTime.now.strftime("%Y") %><p>
     </div>
  </footer>
</div>
