<div class="row">
  <footer>
     <div class="top">
        <p>For booking and more information, contact Leeav Sofer at 716-606-4818 or email @ leeavsofer@mostlykosher.com</p>
     </div>
     <div class="bottom">
        <p>Copywright <i class="fa fa-copyright"></i> MOSTLY KOSHER <%= DateTime.now.strftime("%Y") %><p>
     </div>
  </footer>
</div>
