<div class="row music">
   <div class="header">
      <%= render partial: 'seperator', :locals => { color:"#e7b009", text:"MUSIC" } %>
   </div>
   <div class="video"> 
      <div class="center-wrap">
         <div class="wrapper">
            <iframe height="100%" width="100%" src="//www.youtube.com/embed/tsYZTFfYD6U" frameborder="0" allowfullscreen></iframe>
         </div>
         <div class="media-info">
            <h4>Check out our latest<br/><strong>music video!</strong></h4>
            <span><i class="fa fa-arrow-circle-left"></i></span><br/>
            <span class="media-push">
                Go to our <a href="/">Youtube Channel</a><br/> or share on <a href="/">Facebook</a>, <a href="/">Twitter</a>, &amp; <a href="/">Instagram</a>
            </span>
            <ul class="social-media"> 
               <!-- On Click Generate Share Links -->
               <li><a href="/"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="/"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="/"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
