<div class="row music" id="music" data-parallax="base">
   <div class="header">
      <%= render partial: 'seperator', :locals => { color:"#e7b009", text:"MUSIC" } %>
   </div>
   <div class="video col-md-12">
      <div class="content-wrapper">
         <div class="col-md-6">
            <div class="aspect-ratio">
               <iframe width="854" height="480" src="https://www.youtube.com/embed/v1n_c14QneI" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
         <div class="media-info col-md-6">
            <h4>
               <span><i class="fa fa-arrow-circle-left"></i></span>
               <a href="http://jewcer.com/project/send-mostly-kosher-to-the-bay">Help send us to the bay. Get tickets to our send-off concert!</a>
            </h4>
            <span class="media-push">
                Go to our <a href="https://www.youtube.com/user/MostlyKosherBand">Youtube Channel</a><br/> or share on <a href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165">Facebook</a>, <a href="https://twitter.com/mostlykosher">Twitter</a>, <a href="http://instagram.com/mostlykosher/">Instagram</a>, <a href="https://soundcloud.com/mostly-kosher">SoundCloud</a>, &amp; <a href="http://www.reverbnation.com/mostlykosher">ReverbNation</a>
            </span>
            <ul class="social-media"> 
               <!-- On Click Generate Share Links -->
               <li><a href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="https://twitter.com/mostlykosher"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="http://instagram.com/mostlykosher/"><i class="fa fa-instagram"></i></a></li>
               <li><a href="https://soundcloud.com/mostly-kosher"><i class="fa fa-soundcloud"></i></a></li>
               <li><a href="http://www.reverbnation.com/mostlykosher"><i class="fa fa-star"></i></a></li>
            </ul>
         </div>
        <div style="clear:both"></div>
      </div>
   </div>
</div>
