<div class="row music" id="music" data-parallax="base">
   <div class="header">
      <%= render partial: 'seperator', :locals => { color:"#e7b009", text:"MUSIC" } %>
   </div>
   <div class="video"> 
      <div class="center-wrap">
         <div class="container">
            <div class="aspect-ratio"></div>
            <div class="wrapper">
               <iframe height="100%" width="100%" src="//www.youtube.com/embed/tsYZTFfYD6U" frameborder="0" allowfullscreen></iframe>
            </div>
         </div>
         <div class="media-info">
            <h4>Check out our latest<br/><strong>music video!</strong></h4>
            <span><i class="fa fa-arrow-circle-left"></i></span><br/>
            <span class="media-push">
                Go to our <a href="https://www.youtube.com/user/MostlyKosherBand">Youtube Channel</a><br/> or share on <a href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165">Facebook</a>, <a href="https://twitter.com/mostlykosher">Twitter</a>, &amp; <a href="http://instagram.com/mostlykosher/">Instagram</a>
            </span>
            <ul class="social-media"> 
               <!-- On Click Generate Share Links -->
               <li><a href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="https://twitter.com/mostlykosher"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="http://instagram.com/mostlykosher/"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
