<div class="row top-nav-bar">
   <div class="top">
      <div class="nav-container">
      <nav>
         <ul class="nav navbar-nav">
            <li class="active"><a href="#top" class="scrollto"><i class="fa fa-home"></i></a></li>
            <li class="active"><a href="#new" class="scrollto">News</a></li>
            <li class="active"><a href="#music" class="scrollto">Music</a></li>
            <li class="active"><a href="#shows" class="scrollto">Shows</a></li>
            <li class="active"><a href="#about" class="scrollto">About</a></li>
            <li class="active"><a href="#gallery" class="scrollto">Gallery</a></li>
            <li class="active"><a href="#shop" class="scrollto">Shop</a></li>
            <li class="active"><a href="#contact" class="scrollto">Contact</a></li>
         </ul>
      </nav>
      </div>
   </div>
</div>

