<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <ul class="nav nav-justified">
        <li><a href="#top"><i class="fa fa-home"></i></a></li>
        <li><a href="#new">Headlines</a></li>
        <li><a href="#music">Music</a></li>
        <li><a href="#shows">Shows</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#shop">Shop</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
  </div>
</nav>
