<div class="row" id="new" data-parallax="base">
  <div class="new">
    <%= render partial: 'seperator', :locals => { color:"#f36b10", text:"WHAT'S NU?" } %>
  </div>
  <div class="new-content">
    <div class="main">
      <div class="cards">
        <%# render partial: 'card_info', :locals => { title:"Twitter", sign:"twitter", posts:@news_posts, link: "https://twitter.com/mostlykosher" } %>
        <%# render partial: 'card_info', :locals => { title:"Facebook", sign:"facebook-square", posts:@facebook_posts, link:"https://www.facebook.com/pages/Mostly-Kosher/111211355657165" } %>
        <%# render partial: 'card_info', :locals => { title:"Reviews", sign:"thumbs-o-up", review:@reviews, link:"/MK.valleyScene.pdf"} %>
        <span class="stretch"></span>
      </div>
      <p>Oy, do people love us!</p><br/>
      <blockquote>
        "A band with class always makes me thirsty"
        <footer>BluesBunny Music Reviews</footer>
        <a href="https://www.facebook.com/permalink.php?story_fbid=663915843720044&id=111211355657165" style="color:#f36b10;">read a full review here!</a>
      </blockquote>
      <blockquote>
        “The two bands [Mostly Kosher and the Klezmatics] share a love for preserving traditional Yiddish music and
        cultural traditions — sometimes with the addition of a contemporary spin — and both have enjoyed plenty of
        critical and audience acclaim. Still, Mostly Kosher and the Klezmatics can, to some extent, be viewed as the new
        klezmer kid on the block and the genre’s lion, respectively.”
        <footer>Evan Henderson, Los Angeles Jewish Journal Magazine</footer>
      </blockquote>
      <blockquote>
        “I had very little involvement in last night's sold out Invisible Hour at the Pico Union, but it was a highlight event
        of the year for me. I loved the music, the crowd and the energy - but most of all I loved watching really great
        people do their thing really well and I love what they were doing. All honor to Mostly Kosher for a superb
        evening!”
        <footer>Craig Taubman, Pico Union Project</footer>
      </blockquote>
      <blockquote>
        "Mostly Kosher shined throughout their concert at BCC, making use of their exquisite musicianship, contagious
        energy and poignant light-hearted humour -all of which were great ways to introduce the attendees to the
        sonic and spiritual experience that Klezmer music is about!"
        <footer>Cantor Juval Porat, Temple Beth Chayim Chadashim</footer>
      </blockquote>
      <blockquote>
        “Mostly Kosher perfectly complimented our Jews in LA exhibit. The traditional music and songs were
        beautifully executed and performed. The comedy sketches disbursed among the musical performances were
        hilarious. Through comedy very real and moving moments representing Jewish culture were respectively
        brought to life.”
        <footer>Robyn Hetrick, Director of Programs and Public Events, Autry Museum</footer>
      </blockquote>
      <blockquote>
        “Your group’s enthusiasm, wit, talent and high energy created a one-of-a-kind experience for our visitors.”
        <footer>Michael Fritzen, Head of Family Programs, Skirball Cultural Center</footer>
      </blockquote><br/>
      <div class="press">
        <!--
             <span>Download our press kit <a href="/press-kit.pdf" target="_blank">here</a> (PDF).</span><br/>
             -->
      </div>
    </div>
  </div>
</div>
