<div class="row" id="new" data-parallax="base">
  <div class="new">
    <%= render partial: 'separator', locals: { color:'#f36b10', text:'WHAT\'S NU?' } %>
  </div>
  <div class="new-content">
    <div class="main">
      <p>Oy, do people love us!</p><br/>
      <%= render partial: 'shared/review', collection: @reviews, as: :review %>
      <br/>
    </div>
  </div>
</div>
