<div class="row" id="new">
    <div class="new">
       <%= render partial: 'seperator', :locals => { color:"#f36b10", text:"WHAT'S NU?" } %>
    </div>
    <div class="new-content">
       <div class="main">
           <div class="cards">
             <%= render partial: 'card_info', :locals => { title:"Twitter", sign:"twitter", posts:@news_posts, link: "https://twitter.com/mostlykosher" } %>
             <%= render partial: 'card_info', :locals => { title:"Facebook", sign:"facebook-square", posts:@facebook_posts, link:"/" } %>
             <%= render partial: 'card_info', :locals => { title:"Reviews", sign:"thumbs-o-up", review:@reviews, link:"/"} %>
             <span class="stretch"></span> 
          </div>
          <div class="press">
             <span>With the press? Download our press kit <a href="/">here</a> (PDF).</span>
          </div>
       </div>
    </div>
</div>
