<div class="row">
    <div class="new">
       <%= render partial: 'seperator', :locals => { color:"#f36b10", text:"Whats nu?" } %>
    </div>
    <div class="new-content">
       <div class="main">
          <%= render partial: 'card_info', :locals => { title:"News", sign:"star", posts:@posts } %>
          <%= render partial: 'card_info', :locals => { title:"Facebook", sign:"facebook-square", posts:@posts } %>
          <%= render partial: 'card_info', :locals => { title:"Reviews", sign:"thumbs-o-up", review:@reviews } %>
          <span class="stretch"></span>
       </div>
    </div>
</div>
