<div id="residency-modal" class="modal modal-tour fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="fa-stack fa-lg">
            <i class="fa fa-circle-o fa-stack-2x"></i>
            <i class="fa fa-times fa-stack-1x"></i>
          </span>
        </button>
        <h4> Be sure to check us out at #FestivalofHolidays</h4>
        <h2 class="kosher">At Disney California Adventure Park</h2>
        <p class="when"><strong>Daily Nov 10 - Jan 8!</strong></p>
        <%= link_to 'https://disneyland.disney.go.com/entertainment/disney-california-adventure/mostly-kosher/', target: '_blank' do %>
            <%= image_tag 'disney-gig.png' %>
            <p>DETAILS HERE!</p>
        <% end %>
        <p class="kosher">A sheynem dank!</p>
      </div>
    </div><%# /.modal-content %>
  </div><%# /.modal-dialog %>
</div><%# /.modal %>