<div class="shop" id="shop" data-parallax="back" data-type="background">
  <div data-parallax="wrapper">
    <div class="info col col-lg-12 col-md-12 col-sm-12">
      <div class="inner-wrap">
        <h3>New in Shop</h3>
        <p>Get your<br/> MOSTLY KOSHER<br/> T-Shirt NOW!</p>
        <p><a href="/shop">Visit our shop <i class="fa fa-arrow-right"></i></a></p>
      </div>
    </div>
  </div>
</div>
