<div class="row form">
   <div class="form-field">
      <form>
         <span>Don't be a shmendrick!</span>
         <span>Sign up for our Newsletter!</span>
         <div class="input-fields">
           <input type="text" name="email" >
           <button type="submit">Sign Up!</button>
         </div>
      </form>
   </div>
   <div class="quote">
      <span class="upsidedown quotation-mark">&ldquo;</span>
      <span>May you grow like an onion with you head on the ground!</span>
      <span class="rightsideup quotation-mark">&rdquo;</span>
   </div>
</div>
