<div class="row">
   <div class="top-new">
      <div class="faded-background">
         <div class="transparent-overlay"></div>
         <div class="background-image-container">
            <img src="<%= image_path 'band-image-home.png' %>">
         </div>
      </div>
      <div class="text-overlay">
         <div class="left-center">
            <h1 class="kosher">Mostly Kosher</h1>
            <h4>word to your bubbe</h4>
	</div>
      </div>
      <div class="news-media">
         <div class="content">
            <h2>So What's Nu?!</h2>
            <a href="/">Click Here</a>
            <ul class="social-media">
               <li><a href="https://www.facebook.com/pages/Mostly-Kosher/111211355657165"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="/"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="https://www.youtube.com/user/MostlyKosherBand"><i class="fa fa-youtube-square"></i></a></li>
               <li><a href="/"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </div>
   </div>
</div>
