<div id="tour-modal" class="modal fade in" style="display:none;">
  <div class="modal-tour">
     <div class="image-container">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" class="fa-stack fa-lg">
         <i class="fa fa-circle-o fa-stack-2x"></i>
         <i class="fa fa-times fa-stack-1x"></i>
      </span>
     </button>
     <%= image_tag('2015-bayarea-tour.png') %>
     </div>
  </div>
</div>
