<div class="upcoming-event">
    <div class="header">
       <h1><%= event.date %></h1>
       <h3><%= event.title %></h3>
    </div>
    <div class="content">
        <span><%= auto_link(event.description.html_safe) %></span>
    </div>
    <div class="footer">
       <a href="<%= event.link %>">BUY TICKETS</a>
    </div>
</div>
