<%= render partial: 'layouts/global_nav' %>
<div class="container-fluid" id="shows-page">
  <div class="row shows">
    <div class="header">
      <%= render partial: 'separator', locals: {color: '#233961', text: 'ABOUT', adjustment: 'thin' } %>
    </div>
  </div>
</div>
