<%= render partial: 'layouts/global_nav' %>
<div class="container-fluid" id="shows-page">
  <div class="row shows">
    <div class="header">
      <%= render partial: 'client/landing/separator', locals: {color: '#9b200c', text: 'GALLERY', adjustment: 'thin' } %>
    </div>
  </div>
</div>
