<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mostly Kosher - Shirts</title>
<link href="mk.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
body,td,th {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 14px;
	color: #CCC;
	text-align: center;
	margin: 0;
	padding: 0;
}
body {
	background-color: #863216;
}
a:link {
	color: #48BCFC;
}
a:visited {
	color: #FFF;
}
-->
@charset "UTF-8";
.contact {
	color: #48BCFC;
	font-size: 14px;
}

#outer {
  width: 615px;
  margin: auto;
}

.square {
   margin:1px;
   width:25%;
   text-align:center;
   display:inline-block;    
}
.pictura {
   margin:10px;
}
.container {
   text-align:center;
   display:inline-block;
   width:100%;
   height: 250pt;
}

a {
	text-decoration:none;
	color:#FFF;
}

a:visited {
	text-decoration:none;
	color:#CCC;
}

a:hover {
	text-decoration:underline;
}
</style>
</head>

<body>
<div align="center"><a href="index.html"><img src="images/mostly kosher text.png" alt="Mostly Kosher" width="618" height="73" border="0" /></a></div>


<div align="center">
<h2>T-SHIRTS!!!</h2>
<h3>All shirts are $20 with $5 flat-rate shipping anywhere in the U.S.</h3>
</div>

<div class="container" align="center">

 <div class="square" align="center">
     <p><font color="#48BCFC" size="+1">Mostly Kosher CD</font></p>
     <h4>Full Length Album</h4>

    <p><img src="images/mostlykosherCDThumb.jpg" alt="tshirt" width="200" height="200" vspace="75" />
    </p>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="P89YWL83PNYKG">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 </div>

<div class="square" align="center">
     <p><font color="#48BCFC" size="+1">Mostly Kosher<br /> Onesie (White&amp;Black)</font></p>
     <h4>Back : word to your bubbe</h4>

    <p><img src="images/mk.onesies.png" width="225" height="300" alt="tshirt" />
    </p>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="Z29N47A6UHX8S">
<table align="center">
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="Small (3-6mo) Black">Small (3-6mo) Black </option>
	<option value="Small (3-6mo) White">Small (3-6mo) White </option>
	<option value="Medium (6-12mo) Black">Medium (6-12mo) Black </option>
	<option value="Medium (6-12mo) White">Medium (6-12mo) White </option>
	<option value="Large (12-18mo) Black">Large (12-18mo) Black </option>
	<option value="Large (12-18mo) White">Large (12-18mo) White </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

 </div>
 
 <div class="square" align="center">
     <p><font color="#48BCFC" size="+1">Mostly Kosher<br /> Youth T-Shirt (Grey)</font></p>
     <h4>Back : word to your bubbe</h4>

    <p><img src="images/mkT.youth.med.png" width="300" height="300" alt="tshirt" />
    </p>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="A22LGB8S9K9XY">
<table align="center">
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="Extra Small (4/5)">Extra Small (4/5) </option>
	<option value="Small (6/7)">Small (6/7) </option>
	<option value="Medium (8)">Medium (8) </option>
	<option value="Large (10)">Large (10) </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 </div>

 <div class="square" align="center">
     <p><font color="#48BCFC" size="+1">Mostly Kosher<br /> Women's T-Shirt (Grey)</font></p>
     <h4>Back : word to your bubbe</h4>
    <p><img src="images/mkT.womens.small.png" width="300" height="300" alt="tshirt" />
</p>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="5JGHGFTZK6MEW">
<table align="center">
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="Small">Small </option>
	<option value="Medium">Medium </option>
	<option value="Large">Large </option>
	<option value="X Large">XLarge </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 </div>

 <div class="square" align="center">
     <p><font color="#48BCFC" size="+1">Mostly Kosher<br /> Men's T-Shirt (Grey)</font></p>
     <h4>Back : word to your bubbe</h4>

    <p><img src="images/mkT.mens.med.png" alt="tshirt" width="300" height="300" />
    </p>
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="XCRPH6M25F4Z4">
<table align="center">
<tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="Small">Small </option>
	<option value="Medium">Medium </option>
	<option value="Large">Large </option>
	<option value="X Large">XLarge </option>
	<option value="2XL">2XL </option>
</select> </td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
 </div>

</div>

</body>
</html>

