<%= render partial: 'layouts/global_nav' %>
<div class="container-fluid" id="shows-page">
  <div class="row shows">
    <div class="header">
      <%= render partial: 'separator', locals: {color: '#336633', text: 'SHOWS', adjustment: 'thin' } %>
    </div>
  </div>
  <%= render partial: 'client/shows/section', locals: { title: 'Upcoming', shows: @upcoming_shows } %>
  <%= render partial: 'client/shows/section', locals: { title: 'Previous', shows: @previous_shows } %>
</div>
