/* About Section */
@import 'bootstrap/_variables';
@import 'shared/material-design';
@import 'shared/kosher-colors';

.about {
  min-height: 720px;
  h3, h4 {
    color: $kosher-white;
  }
  h3 {
    font-size: $display1;
    font-weight: lighter;
    margin: 16px auto 32px auto;
  }
  h4 {
    font-size: $title;
  }
  .bio {
    p {
      color: $kosher-white;
      font-size: $body1;
    }
  }
}

