$navbar-size: 40px;
.navbar {
  min-height: $navbar-size;
  color: white;
  background: black;
  a {
    outline: none;
    color: white;
    text-decoration: none;
    &:focus, &:hover {
      color: black;
    }
  }
  button.navbar-toggle {
    border-width: 0;
    font-size: 16px;
    &:hover, &:active, &:focus {
      color: #2E2F30;
    }
  }
  .navbar-collapse {
    max-height: 360px;
  }
}
.container-fluid {
  margin-top: $navbar-size;
}

