.modal-tour {
   text-align:center;
   .image-container {
      display:inline-block;
      background:white;
      position:relative;
      button {
         position:absolute;
         outline:none;
         font-size:12px;
         right:0;
         top:0;
         color:white;
      }
      .close {
         opacity:0.5;
         &:hover {
            opacity:1;
         }
      }
   }
}
