@import 'bootstrap/_variables';
@import 'shared/material-design';
@import 'shared/kosher-colors';

#tour-modal {
  h4 {
    color: black;
  }
  img {
    width: 100%;
  }
  .close {
    color: $kosher-red;
    opacity: 0.8;
    font-size: $caption;
    position: absolute;
    right: 8px;
    top: 8px;
    outline: none;
  }
  p,
  a {
    display:block;
    margin-top: 16px;
    font-size: 16px;
  }
}

