@mixin input-reset {
  outline:none;
  border:0;
  border:solid thin rgba(0,0,0,0.24);
  //Reset Border
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip:padding-box;
  -webkit-appearance:none;
  //Our Styling
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  padding:8px 16px;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin font-stack {
  font-family: 'Roboto', sans-serif;
}
$small-padding: 8px;
$regular-padding: 16px;
#admin {
  @include font-stack;
  height:100vh;
  width:100%;
  background:white;
  >* {
    padding-left: $regular-padding;
  }
  a {
    font-size: 16px;
  }
  table {
    padding: $regular-padding $small-padding;
    width: 100%;
    td, th {
      &:first-child, &:last-child {
        padding: 0 $regular-padding;
      }
    }
    thead th {
      height: 42px;
      font-size: 24px;
    }
    tbody tr {
      font-size: 16px;
      height: 32px;
      &:nth-child(odd){
        background: #eaeaea;
      }
    }
  }
  h1 {
    font-weight:300;
  }
  form {
    padding: $small-padding $regular-padding;
    p {
      font-weight:300;
    }
    input[type="text"] + p {
      margin-top:16px;
    }
    input[type="text"], textarea {
      @include input-reset;
      width:100%;
    }
    textarea {
      resize: none;
      min-height:150px;
    }
    input[type="radio"] {
      margin-right:4px;
    }
    span + input[type="radio"] {
      margin-left:16px;
    }
    div + div {
      margin-top:16px;
    }
    .btn-prev {
      padding:16px;
      padding-left:0;
    }
    .btn-prev::before {
      font-family:'FontAwesome';
      content:"\f100";
      margin-right:8px;
      text-decoration:none;
    }
  }
  /* Boostrap Plugin Overrides */
  .bootstrap-datetimepicker-widget {
    table thead th {
      font-size: 14px;
      height: 20px;
    }
  }
}
.login {
  @include vertical-align;
  form {
    width:350px;
    margin:0 auto;
    text-align:left;
    > * + * {
      margin-top:16px;
    }
    input {
      display:block;
      outline:none;
      width:100%;
      border:0;
      border:solid thin rgba(0,0,0,0.54);
      //Reset Border
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-background-clip: padding;
      -moz-background-clip: padding;
      background-clip:padding-box;
      -webkit-appearance:none;
    }
    input, button, button:hover {
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      -ms-border-radius:8px;
      -o-border-radius:8px;
      border-radius:8px;
      padding:8px 16px;
    }
  }
}

