@mixin font-stack {
  font-family: 'Roboto', sans-serif;
}
@mixin input-reset {
   outline:none;
   border:0;
   border:solid thin rgba(0,0,0,0.24);
   //Reset Border
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-background-clip: padding;
   -moz-background-clip: padding;
   background-clip:padding-box;
   -webkit-appearance:none;
   //Our Styling
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   -ms-border-radius:8px;
   -o-border-radius:8px;
   border-radius:8px;
   padding:8px 16px;
}
.event {
  .episodes {
    padding:0;
    img, >h1 {
      display:inline-block;
    }
    img {
      height:60px;
      width:60px;
      vertical-align:top;
      margin-top:16px;
      margin-left:8px;
    }
    >h1 {
      font-size:56px;
      margin-left:8px;
      margin-top:16px;
      margin-bottom:8px;
    }
    .episode {
      padding:16px 8px;
      border-top:solid thin rgba(0,0,0,0.28);
      h1 {
        margin:0;
        margin-top:16px;
        a {
          color:black;
          opacity:0.87;
        }
      }
    }
    .episode:nth-child(odd) {
      background:#eaeaea;
    }
  }
  .information {
    padding:8px 16px;
  }
  .episode, .information {
    abbr {
      cursor:text;
      border:0;
      font-size:20px;
      text-transform:uppercase;
      border-bottom:solid thin black;
      opacity:0.54;
    }
  }
}
.copyright {
  padding:16px 8px;
  background:#eaeaea;
  div {
    padding:16px 8px;
  }
}
