.modal-tour {
   margin:0 auto;
   text-align:center;
   .image-container {
      display:inline-block;
      background:white;
      position:relative;
      button {
         position:absolute;
         outline:none;
         font-size:12px;
         right:0;
         top:0;
         color:white;
      }
      .close {
         opacity:0.5;
         &:hover {
            opacity:1;
         }
      }
   }
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2),
only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
   .modal-tour {
      width:100%;
      height:100%;
      margin-top:24px;
      .image-container {
         @include vertical-align();
         img {
            width:100%;
         }
         button {
            font-size:24px;
         }
      }
   }
}
@media (max-width: 835px) {
   .modal-tour {
      width:100%;
      .image-container {
         img {
            width:100%;
         }
         button {
            font-size:24px;
         }
      }
   }
}
